# Exercise 1

In [63]:
n = int(input("Enter the month (1 - 12): "))

if n ==1:
    month = "January"
elif n ==2:
    month = "February"
elif n ==3:
    month = "March"
elif n ==4:
    month = "Aprin"
elif n ==5:
    month = "May"
elif n ==6:
    month = "June"
elif n ==7:
    month = "July"
elif n ==8:
    month = "August"
elif n ==9:
    month = "September"
elif n ==10:
    month = "October"
elif n ==11:
    month = "November"
else:
    month = "December"

print(f"Month {n} is {month}.")

Enter the month (1 - 12):  7

Month 7 is July.

# Exercise 2

In [67]:
x = int(input("Enter your age (1-100): "))

if x < 16:
    cost = "£ 3.00"
elif x >= 16 and x<60:
    cost = "£ 6.00"
else:
    cost = "£ 2.00"

print(f"Your ticket costs {cost}")

Enter your age (1-100):  88

Your ticket costs £ 2.00

# Exercise 3

In [18]:
w = float(input("Enter your weight in kg: "))
h = float(input("Enter your height in m: "))
bmi = w/(h**2)

if bmi < 18.5:
    category = "Underweight"
elif bmi >= 18.5 and bmi <= 24.9:
    category = "Normal"
elif bmi >= 25 and bmi <= 29.9:
    category = "Overweight"
else:
    category = "Obese"

print(f" Your BMI is {bmi}")
print(f" You are in the {category} range")

Enter your weight in kg:  55
Enter your height in m:  1.55

 Your BMI is 22.892819979188342
 You are in the Normal range

# Exercise 4

In [69]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))
Gre = max(a,b,c)

print(f" Greatest number among {a}, {b}, {c} is {Gre}")

Enter the first number:  98
Enter the second number:  106
Enter the third number:  45

 Greatest number among 98, 106, 45 is 106

# Exercise 5

In [75]:
y = int(input("Enter a number: "))
fact = 1

for i in range(1, y + 1):
    fact = fact*i

print(f"The factorial of {y} is {fact}")

Enter a number:  5

The factorial of 5 is 120

# Exercise 6

In [87]:
r = int(input("Enter a number to reverse: "))
rev_num = 0

while r > 0:
    rem = r % 10
    rev_num = rev_num * 10 + rem
    r = r//10

print(f"The reversed number is {rev_num}")

Enter a number to reverse:  78560345

The reversed number is 54306587

# Exercise 7

In [89]:
k = int(input("Enter a number to find its multiples: "))
li = int(input("Enter the limit: "))

for i in range(1, li + 1):
    print(f"{k} * {i} = {k * i}")

Enter a number to find its multiples:  7
Enter the limit:  10

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

# Exercise 8

In [91]:
while True:
    t = input("Enter your note (in small lestters):")
    if t == 'done':
        print("Done")
        break
    else:
        print(t)

Enter your note (in small lestters): lis mary

lis mary

Enter your note (in small lestters): how are you

how are you

Enter your note (in small lestters): fine

fine

Enter your note (in small lestters): finish

finish

Enter your note (in small lestters): long

long

Enter your note (in small lestters): done

Done

# Exercise 9

In [93]:
for i in range(1, 11):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz

# Exercise 10

In [57]:
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1